
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: 'Roboto Condensed', sans-serif;
}

.header{
 
  background-color: #523dc5; 
}
.header p{
  margin: 0px;
  padding: 20px 0px;
  color:#fff;
}
.dash-wrap{
  width: 100%;
  overflow: hidden;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  padding: 50px 0px;
}
.summary{
  float: left;
    width: 100%;
    background-color: #523dc5;
    margin-bottom: 40px;
}
.summary h1{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.summary h2{
  color: rgb(255, 217, 0);
  font-size: 18px;
  font-weight: 500;
}
.col-3{ float: left; width: 25%;}
table{
  width: 100%;
  max-width: 1200px;
  margin: 0pc auto;
}
tr, th{
  border: 1px solid rgb(15, 230, 230);
  padding: 10px;
  color: red;
}
tr, td{
  border: 1px solid rgb(15, 230, 230);
  padding: 10px;
  color: blue;
}